.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.nav-link{
    font-size: 23px;
    
}








/* حاوية الحقول */
.p-field-row {
    display: flex; /* ترتيب الحقول بجانب بعضها */
    justify-content: space-between;
    gap: 2%; /* مسافة بين الحقول */
    align-items: flex-start; /* محاذاة الحقول إلى الأعلى */
  }
  
  /* حقل العرض الكامل */
  .full-width {
    width: 100%;
  }
  
  /* حقل العرض النصفي */
  .half-width {
    flex: 1; /* يأخذ نصف المساحة المتاحة */
  }
  
  /* التأكد من أن رسائل الخطأ لا تؤثر على الحقول */
  .p-error {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
    display: block;
    width: 100%; /* تأكد من أن الرسالة تأخذ كامل عرض الحقل */
  }
  