<nav class="navbar navbar-expand-lg bg-light align-items-center ">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h1>Books App</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
      
          <li class="nav-item mx-2 ">
            <a class=" btn btn-success p-2" routerLink="/admin">Add / Edit</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>